
body { 
    font-family: 'Courier New', Courier, monospace;
    margin: 20px; 
    background-color: #f5f3f1;
  }
   
h1 {
  background-color: #dcd6d0;
  color: white;
  text-shadow: 3px;
  text-align: left;
  margin-left: 20px;
}
.logo{
  border-radius: 400px;
  width: 200px;
  height: 200px;
  margin: 20px;

}
  .navigation {
    overflow: hidden;
    display: flex; 
    position: sticky;
  }
  .navigation a {
    float: none;
    margin:auto;
    color: black;
    text-align: space-between;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navigation a:hover {
    background-color: #ddd;
    color: black;
  }
.leftwrap{
  background-color: #ddd;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;

}
.social-media {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    border-radius: 15px;
    width: 100%;
  }

header {
  display: flex; 
  justify-content: space-between;
  position: sticky;
  z-index: 1; 
  width: 100%;
}
.text {
    display: flex;
    justify-content: space-between;
    position: relative;

  }
.footer {
  display: flex; 
  margin: 20px; 
  border: 2px dotted lightcoral;
  }  

.pictures {
  margin-top: 20px;
  margin-left: 20px;
  width:100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

}

.picture1 {
  margin-bottom: 20px;
  margin-right:20px;

}
  