
body { 
    font-family: Helvetica, sans-serif;
    margin-left: auto;
    text-align: center;
  }
   
.topnav {
    background-color: #c5c5c5;
    overflow: hidden;
  }
  .topnav a {
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.social-media {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
footer {
  text-align: center;
}
.text {
    float: left;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
.test {
  background-color: #c5c5c5 ;
  box-sizing: border-box; 
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; 
  border: 6px dotted;
  }  

  